# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Environment
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.npy
*.csv
*.xlsx

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
